#
# Common Requirements
# See below for *nix and MacOS requirements.
#
appdirs==1.4.4
attrs==25.4.0
certifi==2025.10.5
cffi==2.0.0
click==8.3.0
distlib==0.4.0
filelock==3.20.0
lxml==6.0.2
platformdirs==4.5.0
pycparser==2.23
pyyaml==6.0.3
setuptools==80.9.0
six==1.17.0
tomli==2.3.0
#
# *nix Requirements
#
xattr==1.2.0; sys_platform == 'darwin' or sys_platform == 'linux'
#
# MacOS Requirements
#
pyobjc-core==11.1; sys_platform == 'darwin'
pyobjc-framework-CFNetwork==11.1; sys_platform == 'darwin'
pyobjc-framework-LaunchServices==11.1; sys_platform == 'darwin'
pyobjc-framework-OpenDirectory==11.1; sys_platform == 'darwin'
pyobjc-framework-Quartz==11.1; sys_platform == 'darwin'
pyobjc-framework-Security==11.1; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration==11.1; sys_platform == 'darwin'
#
# Windows Requirements
#
generateDS==2.44.3; sys_platform == 'win32'
--no-binary :all:
