#
# Common Requirements
# See below for *nix and MacOS requirements.
#
appdirs==1.4.4
certifi==2025.10.5
lxml==6.0.2
pyyaml==6.0.3
#
# *nix Requirements
#
xattr==1.2.0; sys_platform == 'darwin' or sys_platform == 'linux'
#
# MacOS Requirements
#
pyobjc-core==11.1; sys_platform == 'darwin'
pyobjc-framework-CFNetwork==11.1; sys_platform == 'darwin'
pyobjc-framework-LaunchServices==11.1; sys_platform == 'darwin'
pyobjc-framework-OpenDirectory==11.1; sys_platform == 'darwin'
pyobjc-framework-Quartz==11.1; sys_platform == 'darwin'
pyobjc-framework-Security==11.1; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration==11.1; sys_platform == 'darwin'
#
# Windows Requirements
#
generateDS==2.44.3; sys_platform == 'win32'
